In [1]:
import pandas as pd

df = pd.read_csv("revise_length_20.csv")


df[['label', 'num_label']].drop_duplicates().sort_values(by='num_label')

               label  num_label
202      時尚設計及國際商業服務          0
290             防疫科技          1
307        奈米晶片與元件工程          2
9          化工與機械工業製造          3
154            醫療及食安          4
353          水力與地質資源          5
362        智慧財產與專利檢索          6
111        地球科學與自然資源          7
77         人文及校園研究發展          8
27              創新創業          9
191        雲端、AI、大數據         10
51         資安人培與數位經濟         11
229        精準醫療與精準健康         12
382    跨領域多媒體與智慧技術整合         13
257          化學及環境污染         14
184               5G         15
344        健保長照與社會福利         16
0                 能源         17
275  航太科技及交通運輸(含自駕車)         18
168             智慧農業         19

In [3]:
import pandas as pd

df = pd.read_csv("revise_length_20.csv")


df[['label', 'num_label']].drop_duplicates().sort_values(by='num_label')

               label  num_label
202      時尚設計及國際商業服務          0
290             防疫科技          1
307        奈米晶片與元件工程          2
9          化工與機械工業製造          3
154            醫療及食安          4
353          水力與地質資源          5
362        智慧財產與專利檢索          6
111        地球科學與自然資源          7
77         人文及校園研究發展          8
27              創新創業          9
191        雲端、AI、大數據         10
51         資安人培與數位經濟         11
229        精準醫療與精準健康         12
382    跨領域多媒體與智慧技術整合         13
257          化學及環境污染         14
184               5G         15
344        健保長照與社會福利         16
0                 能源         17
275  航太科技及交通運輸(含自駕車)         18
168             智慧農業         19

In [5]:
df = pd.read_csv("revise_length_40.csv")

df[['label', 'num_label']].drop_duplicates().sort_values(by='num_label')

     label  num_label
0        0          0
13       1          1
40       2          2
66       3          3
77       4          4
101      5          5
106      6          6
114      7          7
138      8          8
145      9          9
147     10         10
158     11         11
174     12         12
62      13         13
85      14         14
213     15         15
221     16         16
227     17         17
240     18         18
247     19         19
258     20         20
268     21         21
78      22         22
289     23         23
292     24         24
310     25         25
314     26         26
321     27         27
328     28         28
342     29         29
95      30         30
360     31         31
362     32         32
366     33         33
375     34         34
56      35         35
381     36         36
390     37         37
395     38         38
401     39         39

In [6]:
df = pd.read_csv("revise_length_30.csv")

df[['label', 'num_label']].drop_duplicates().sort_values(by='num_label')

         label  num_label
359    資訊與資料風險          0
293    生物多樣性漁業          1
273    資訊產品及效能          2
70      智慧平台產品          3
264      地下水資源          4
370  放射性輻射及廢棄物          5
363       太空衛星          6
215     綠色材料環境          7
77      生物疫苗國家          8
115       藥物毒品          9
63      行動通訊網路         10
341       科技政策         11
325       氣象資訊         12
11      生技疾病生醫         13
94      智慧國際材料         14
196       科學領域         15
212       綠能能源         16
119     資料建築地震         17
338       資訊防護         18
178      奈米及輻射         19
377        農產品         20
317     電子商務物流         21
165     科技國際文化         22
391     智慧國際產業         23
0       機械產品工業         24
54      環境資料高齡         25
256       交通領域         26
39      軟體資訊網路         27
138      服務業商業         28
244     國際園區廠商         29